<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <div class="list card">

      <div class="item item-avatar">
        <img src="http://img3.douban.com/icon/u1464095-10.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </div>

      <div class="item item-image">
        <img src="http://img3.douban.com/view/dale-online/dale_ad/public/146fe9e7604e92a.jpg">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>

    </div>
  </ion-content>
</ion-view>
