/* Empty. Add your own CSS if you like */
.img-box {
  width: 100%;
}

.img-box-rotate {
  transform: rotate(90deg) scale(1.5,1.5);
  -ms-transform: rotate(90deg) scale(1.5,1.5);   /* IE 9 */
  -webkit-transform: rotate(90deg) scale(1.5,1.5); /* Safari and Chrome */
  -o-transform: rotate(90deg) scale(1.5,1.5);    /* Opera */
  -moz-transform: rotate(90deg) scale(1.5,1.5);    /* Firefox */
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow; 
}

.pink {
  background-color: red;
}