/* Empty. Add your own CSS if you like */
.img-box {
  width: 100%;
  height: 100%;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow; 
}

.pink {
  background-color: red;
}